@font-face {
  font-family: "iconfont"; /* Project id 3196465 */
  src: url('iconfont.woff2?t=1645951341884') format('woff2'),
       url('iconfont.woff?t=1645951341884') format('woff'),
       url('iconfont.ttf?t=1645951341884') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e624";
}

.icon-wechat:before {
  content: "\e738";
}

.icon-email:before {
  content: "\e600";
}

.icon-evaluate:before {
  content: "\e608";
}

.icon-skill1:before {
  content: "\e6cf";
}

.icon-resume-line:before {
  content: "\e64a";
}

.icon-zuopin:before {
  content: "\e603";
}

.icon-rocket:before {
  content: "\e716";
}

.icon-zhankai:before {
  content: "\e611";
}

.icon-gerenzhongxin:before {
  content: "\e612";
}

.icon-chazhao:before {
  content: "\e613";
}

.icon-jiaoyiliushui:before {
  content: "\e614";
}

.icon-tuichu:before {
  content: "\e615";
}

.icon-tianjia:before {
  content: "\e616";
}

.icon-jinyong:before {
  content: "\e617";
}

.icon-bianji:before {
  content: "\e618";
}

.icon-qiyong:before {
  content: "\e619";
}

.icon-dakuanxiangqing:before {
  content: "\e61a";
}

.icon-querendakuan:before {
  content: "\e61b";
}

.icon-shanchu:before {
  content: "\e61c";
}

.icon-xiazai:before {
  content: "\e61d";
}

.icon-shouqi:before {
  content: "\e61e";
}

.icon-shouquan:before {
  content: "\e61f";
}

.icon-dakuanyichang:before {
  content: "\e620";
}

.icon-tuihui:before {
  content: "\e621";
}

.icon-zhongqi:before {
  content: "\e622";
}

.icon-jiaoseguanli:before {
  content: "\e623";
}

